<div class="page-header">
  <%= link_to lojas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_loja_path(@loja), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar loja</h1>
</div>

<dl class="dl-horizontal">
  <dt>Identificacao loja:</dt>
  <dd><%= @loja.identificacao_loja %></dd>

</dl>
