<div class="page-header">
  <h1>LerArquivoTexto#LerArquivo</h1>
</div>
<p>Find me in app/views/ler_arquivo_texto/LerArquivo.html.erb</p>

<h1>Conteúdo do Arquivo: <%= @TEXTO %> </h1>

<h1>Conteúdo do Arquivo: <%= @linha %> </h1>


